<!-- 
  <header>
    <div class="container">
      <a routerLink="/" class="logo">CoolApp</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li><a href="#" routerLink="/list">List</a></li>
        </ul>
      </nav>
    </div>
  </header> -->
<div class="quiz" *ngIf="quiz">
  <div class="questions" *ngIf="!showResults">
    <app-question-form
      [question]="quiz.questions[currentQuestionIndex]"
      (onChoiceMade)="updateChoice($event)"
    >
    </app-question-form>

    <button
      class="btn btn-success"
      (click)="nextOrViewResults()"
      [disabled]="!answers.values[currentQuestionIndex]"
    >
      {{
        currentQuestionIndex === quiz.questions.length - 1
          ? "View results"
          : "Next"
      }}
    </button>
  </div>
</div>
